.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    /*border-top: none;*/
    /*min-width: 50%;*/
    /*height: 400px;*/
    overflow: scroll;
    /*font-size: large;*/
}

textarea {
    width: 49%;
    padding:1%;
}
